.app-header {
 height: 400px;
 width: 100vw;
 background-color:#7e9680;
 background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
 display: flex;
 align-items: center;
 justify-content: center;
 flex-flow: column wrap;
 margin-top: 5em;
}

.name {
 color: #fadfc5;
}