nav {
 background-color: #79616F;
 color: #ffffff;
 height: 120px;
 width: 100vw;
 position: fixed;
 top: 0px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: row;
}

.logo {
padding-left: 1.5em;
color: #ffffff;
font-family: 'bungee', sans-serif;
}

.new-tweet {
 font-size: medium;
 padding-right: 1.5em;
}

.icon {
 color: black;
 text-align: center;
}