.avatar {
 width: 2em;
 height: auto;
}

article {
 background-image: url("https://www.transparenttextures.com/patterns/xv.png");
 background-color: #E3D4D0;
 margin-top: 2em;
 margin-bottom: 2em;
 border: 3px solid #000000;
 padding: .5em;
 color: black;
}

.tweet-head {
 height: 3em;
 display: flex;
 justify-content: space-between;
 align-self: baseline;
 padding: 10px;
}

.user-id {
 display: flex;
 align-self: baseline;
}

.username {
 align-self: center;
 padding-left: .5em;
 color: rgba(0, 0, 0, 0.5)
}

.user-tag {
 align-self: center;
 font-weight: 600;
 color: rgba(0, 0, 0, 0.5)
}

.date {
 padding-left: 1.5em;
 color:rgba(0, 0, 0, 0.5)
}

.tweet-icons i {
 padding-right: .5em;
 color:#7A8D9B
}

.tweet-footer {
 border-top: 3px solid #000000;
 display: flex;
 justify-content: space-between;
 font-size: small;
 padding: 5px;
 margin-top: 2em;
}

.tweet-content {
 display: flex;
 justify-content: start;
 margin-top: 1em;
 color: rgba(0, 0, 0, 0.7)
}

.tweet-container {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

article:hover {
 box-shadow: 5px 10px;
 color: black;
}

.tweet-icons i:hover {
 color: #B2B9BF;
}
